pre {
    background-color: cyan;
}
.guideline {
    border: solid 1px #dcdcdc;
    padding: 10px;
}
.guideline .heading {
    font-weight: bold;
    text-decoration: underline;
}
.hotfix {
    background: red;
    color: yellow;
}